/*Styles for applicant*/

/*Applicant sidebar*/
.app_sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    margin-top: 21.1vh;
    width: 22vw;
}
.sidebar_title{
    margin-bottom: 4.5vh;
    font-size: 2.3vw;
    font-weight: 500;
}
.sidebar_list{
    list-style: none;
}

.sidebar_list > *{
    margin-bottom: 2.7vh;
}

.sidebar_list_text{
    font-weight: var(--small-weight);
}

/*Docs content*/
.docs_section{
    display: none;
    margin-top: 21.1vh;
}
.docs_content{
    width: 78vw;
}
.docs_box{
    margin-left: 9.3vw;
    margin-bottom: 5vh;
    width: 58vw;
}

.docs_maintitle{
    margin-bottom:8.3vh ;
    margin-left: 10vw;
   /* border-image: url("../img/line_main_shcho.svg");*/
}
.docs_list_title{
    color: var(--peachy);
    margin-bottom: 4vh;
    font-size: 2.3vw;

    line-height: 4vh;
    letter-spacing: var(--h4-small-spacing);
}
.docs_list{
    list-style: initial;
}

.docs_list_items{
    margin-left: 2vw;
    margin-bottom: 1vh;
}
.docs_list_documents .docs_list_items{
    margin-bottom: 4vh;
}

.docs_list_text{
    font-weight: 400;
}

.docs_cabinet_img{
    margin: 10vh 0 10vh 7vw;
    width: 60.3vw;
}



/*Payment content*/
.pay_section{
    /*display: none;*/
    margin-top: 20vh;
    margin-left: 10vw;
}
.pay_title{
    margin-bottom: 5.9vh;
}
.pay_columns{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 6vh;
}
.pay_column{
    width: 8.65vw;
    text-align: center;
    font-size: var(--h5-size);
    margin-right: 6vw;
    color: var(--peachy);
}
.pay_table{
    background: linear-gradient(90deg,
    rgba(232, 0, 0, 0.6) 2.55%,
    rgba(217, 125, 125, 0.446849) 23.02%,
    rgba(182, 182, 182, 0) 82.76%);
    width: 73vw;
    margin-bottom: 5.2vh;
}
.pay_table_row{
    display: flex;
    align-items: center;
    height: 7vh;
    width: 41vw;
}
.pay_table_value{
    width: 33.3%;
}

.pay_link_div{
    margin-left: 0.5vw;
    width: 62vw;
}
.pay_link{
    font-weight: var(--small-weight);
    font-size: var(--small-size);
}

/*logo*/
.logo{
    margin-top: 30vh;
}
