/* intro */
.intro {
    width: 100%;
    height: 100vh;
    position: relative;

    /*background: url(../img/intro.svg) center no-repeat;*/
    /*background-size: cover;*/
    /*-moz-background-size: cover;*/
}
.intro * {
    font-weight: bold;
}
.intro_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 35vh;
    padding-left: 5vw;
}

.intro_title {
    line-height: 4.9vw;
}

.intro_title :nth-child(2) {
    margin-left: 4vw;
}
.intro_title :nth-child(3) {
    margin-left: 8vw;
}

/*sidebar*/
.main_sidebar {
    position: fixed;
    right: -1vw;
    top: 10vh;
    z-index: 1000;

    height: 90vh;
}

.sidebar_blur_pannel{
    position: fixed;
    right: -0vw;
    top: 0vh;

    width: 10vw;
    height: 120vh;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    z-index: 10;
}
/*AIS-info*/
.ais-info{
    margin-top: 18.5vh;
}
.ais-info_title{
    text-align: center;

    font-size: var(--h3-size);
}

.ais-info_content{
    margin-top: 9vh;
    border-top: var(--transparent-white) 2px solid;
    border-bottom: var(--transparent-white) 2px solid;

    list-style: none;
}
.ais-info_label{
    display: flex;
    justify-content: space-around;
    margin: 1.3vw 0;

    font-size: var(--h4-size);
    letter-spacing: var(--h4-small-spacing);
}
.ais_li_span{
    position: relative;
    width: 100vw;
}
/*.ais-info_label::before*/
/*{*/
/*    content: "";*/
/*    display: block;*/
/*    margin: auto 10px auto;*/
/*    width: 6px;*/
/*    height: 6px;*/

/*    background-color: var(--transparent-white);*/

/*    border-radius: 50%;*/
/*}*/

/*Curriculum*/
.curriculum{
    margin-top: 80vh;
}
.curriculum_inner{
    margin-left: 6vw;
}
.curriculum_title-wrapper{
    position: relative;
    width: 46vw;
    /*margin: 0 6vw 0 auto;*/
    margin-left: auto;
}
.curriculum_title-wrapper::after{
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: translate(-100%,3.8vh);
    -ms-transform: translate(-100%,3.8vh);
    transform: translate(-100%,3.8vh);
    bottom: 0;
    left: 100%;
    width: 47vw;
    height: 2vh;
    background-image: url("../img/curriculum_underline.svg");
    background-repeat: no-repeat;
    /*background-size: 46vw 1vh;*/
    background-position: right;
}
.curriculum_title{
    position: relative;
    text-align: center;
}
.curriculum_triangle{
    position: relative;
    margin-top: -22vh;
}
#curriculum_triangle-2{
    display: block;
    margin: -50vh 6vw 0;
    float: right;

    width: 100%;
}
.curriculum_triangle_img{
    width: 41vw;
    height: 47vw;
}
#curriculum_triangle-2 img {
    float: right;
}
.curriculum_text{
    position: absolute;
    top: 50%;
    left: 1.3vw;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 30vw;
}
#curriculum_triangle-2 .curriculum_text{
    left: auto;
    right: 1.3vw;
    text-align: right;
    margin-top: 2.7vh;
}
.curriculum_details{
    display: inline-block;
    margin-top: -23vh;
}
.curriculum_details_label{
    width: 25.4vw;
}
.curriculum_details_subtitle{
    font-size: var(--h4-size);
    letter-spacing: var(--h4-small-spacing);
}
.curriculum_details_subtitle::before{
    content: "";
    display: block;
    margin: 4vh 0 1.5vh;

    width: 100%;
    height: 1vh;

    background: url("../img/curriculum_underline.svg") no-repeat;

    background-size: contain;

    -webkit-transform: scaleY(-1);

    -ms-transform: scaleY(-1);

    transform: scaleY(-1);
}

/*vacancies*/
.vacancies{
    margin-top: 100vh;
}
.vacancies_content{
    margin-left: 6vw;
}
.vacancies_title{
    margin-bottom: 7vh;
}
.vacancies_label{
    width: 35vw;
    margin-top: 1.6vh;
}
.vacancies_statistic{
    width: 100%;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;

    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    letter-spacing: var(--h4-small-spacing);
}
.vacancies_jobs{
    display: flex;
    align-items: center;

    height: 8vh;
}
.vacancies_job{
    width: 16.67%;
    text-align: center;

    font-size: var(--h5-size);
}
.vacancies_table{

    background: linear-gradient(90deg,
    rgba(232, 0, 0, 0.6) 2.55%,
    rgba(217, 125, 125, 0.446849) 23.02%,
    rgba(182, 182, 182, 0) 82.76%);
}
.vacancies_row{
    display: flex;
    align-items: center;
    height: 8vh;
}
.vacancies_column{
    width: 16.67%;
    text-align: center;
}
.vacancies_from{
    width: 16%;
    margin: 1.4vw 0 0 auto;
    text-align: center;

    font-size: var(--small-size);
    line-height: var(--small-height);
    letter-spacing: var(--small-letter-spacing);
}

/*sponsors*/
.sponsors{
    margin-top: 70vh;
    height: fit-content;
}
.sponsors .container{
    display: flex;
    justify-content: right;
    -webkit-justify-content: flex-end;
}
.sponsors_label{
    text-align: right;
    width: 50vw;
}
.sponsors_label > *{
    margin-bottom: 1em;
}
.sponsors_paragraph{
    width: 44vw;
    float: right;
}
.sponsors_inner{
    margin-top: 8vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    --cards-width: 140vw;

    height: 75vh;
    width: var(--cards-width);
    margin-left: calc((var(--cards-width) - 100vw) / -2);
    overflow: hidden;

    transform: rotate(16deg);

    border-bottom: white 2px solid;
    border-top: white 2px solid;
}

.sponsors_cards{
    list-style: none;

    position: absolute;
    width: 100%;

    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor_card  img{
    position: relative;
    width: 20vw;
    height: auto;

    transform: rotate(-18deg)
}

.sponsor_card:hover{
    transform: scale(1.2);
}

/*apply*/
.apply_section{
    margin-top: 30vh;
}
.apply_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30.5vh;
    align-items: center;
}

.apply_text{
    width: 46vw;
    padding-bottom: 4.1vh;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    line-height: 7.8vh;
}

.apply_button{
    width: 30vw;
    height: 10.5vh;
    background: linear-gradient(89.98deg, #B41E23 0.02%, rgba(198, 91, 91, 0) 124.11%);

    border: 0;
    border-radius: 1.8vw;
    font-size: var(--h3-size);
    letter-spacing: var(--h1-letter-spacing);


    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}



/*footer*/
.footer{
    margin-top: 30vh;
    height: 100vh;

    background-image: url("../img/HandBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 6vw -6vh;

}

.footer p{
    font-family: var(--font-family-second);
    font-size: var(--small-size);
}

.footer_content{
    display: flex;
    flex-direction: row;
    min-height: 36vh;

    padding-left: 17.4vw;
}

.footer_col{
    width: 14.8vw;
}

.footer_info > * {
    margin-bottom: 2.7vh;
}

.footer_net{
    display: flex;
    flex-direction: column;
    margin-left: 7.6vw;
}

.footer_icons{
    margin-top:4.5vh;
    margin-bottom: 1.18vh;
}
.footer_icon{
    margin-right: 0.8vw;
}

.footer_map{
    width: 14.8vw;
    height: 10vw;
    margin-top: auto;
}
.footer_map:hover{
    width: 51vw;
    height: 30vw;
}
