@import "mixins";

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation_section {
  margin-top: 10vh;
}

.navigation_image {
  width: 100vw;
  height: 45vh;
  object-fit: cover;

  opacity: .65;
}

.navigation_buttons_container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  /*height: 20vh;*/
  height: 11.25vw;

  background: var(--peachy);
}

.navigation_buttons {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
  background: transparent;
  width: 69vw;
  height: 70%;
}

.navigation_item {
  display: flex;
  justify-content: center;
  width: 33.33%;
  height: 100%;

  padding-bottom: 0.625rem;
}

.navigation_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;

  /*margin-bottom: 1.25vw;*/
}

.navigation_icon {
  width: 20%;
}

.navigation_icon-programs {
  width: 27%;
}

.navigation_button {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  width: 100%;
}

.navigation_underline {
  --transition-duration: .5s;
  --number-of-elements: 3;

  display: block;
  position: absolute;
  pointer-events: none;
  bottom: -1.5vh;
  /*half of underline width*/
  left: calc(100% / calc(var(--number-of-elements) * 4));

  height: 0.15em;
  /*width = half of button element width*/
  width: calc(100% / calc(var(--number-of-elements) * 2));

  border-radius: 3px;
  background-color: var(--white);

  transition: transform var(--transition-duration) ease-in-out;
}

/*Animated BG*/
.animated_bg {
  position: absolute;
  top: -15.5vh;
  width: 100vw;
  height: 100vh;

  z-index: -1;
  filter: blur(60px);

  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

#blob1 {
  position: relative;
  top: 30vh;
  left: -10vw;
}

#blob2 {
  position: relative;
  top: 30vh;
  left: -10vw;
}

#blob3 {
  position: relative;
  top: 50vh;
  left: 40vw;
}

/*Course Cards css*/

.course_cards_container {
  display: none;
}

.course_cards_container.active {
  display: block;
}

.course_cards_menu {
  --gap: 2vw;

  display: grid;
  grid-template-columns: 2fr 5fr;

  margin-left: 2vw;
  margin-top: 5vh;

  height: 18vh;
  width: 35vw;
}

.course_cards_menu button {
  cursor: pointer;
}

.course_cards_menu button.active {
  color: var(--peachy)
}

.cards_menu_titles {
  display: grid;
  align-items: center;
}

.cards_menu_nav {
  display: grid;
}

.degree_nav {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap);
  align-items: center;
}

.year_nav {
  display: none;
}

.year_nav.active {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap);

  color: var(--peachy);
}

.course_card {
  width: 47vw;
  height: 50vh;

  border: 1px solid var(--white);

  padding: 4vh 12vw 8vh 1.5vw;

  background: rgba(0, 0, 0, 0.8);
}

.course_card_term {
  font-weight: 300;
}

.term_group {
  display: flex;
  gap: 1vw;

  margin: 0 auto;
  width: 96vw !important;
}

/*!*Slick default dots redesign*!*/
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  --size: 0.8rem;
  width: var(--size);
  height: var(--size);
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: var(--white);

  text-indent: -9999px;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: var(--peachy)
}

/*END of redesign slick dots*/


/*!*Course Card Table*!*/
.course_card_table {

  font-size: var(--small-size);
  line-height: var(--small-height);
  letter-spacing: var(--small-letter-spacing);

  font-weight: 300;
}

.course_card_table .table_row {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 8fr 2fr;
  gap: 1vw;
  margin-bottom: 1vw;

  height: 5.5vh;
  text-align: left;
}

.course_card_table .table_row > * { /*be carefully, because this thing overrides all inside styles */
  height: 100%;
  display: flex;
  align-items: center;
}

.card_table_header {
  align-items: flex-end !important;
  justify-content: center;
}

.card_table_subject {
  padding-left: .8vw;
  cursor: pointer;
}

.card_table_credit {
  justify-content: center;

  background: var(--peachy);

  font-size: var(--h5-size);
}

/*Course cards side hints*/
.row_group {
  position: relative;
}

.group_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;

  content: attr(data-area);
  transform: rotate(90deg);
  transform-origin: top left;

  /*padding: 1vw .7vh 1.2vw .7vh;*/
  border-color: var(--white);
  border-style: solid;
  border-width: 1px 1px 0 1px;

  font-size: 1.6vh;
}

.single_row {
  position: relative;
}

.single_row::before {
  position: absolute;
  content: "";

  border-bottom: 1px solid var(--white);
  right: -4vw;
  width: 3.8vw;
}

.single_row::after {
  position: absolute;
  content: attr(data-area);

  right: -12vw;
  width: 7.5vw;
  word-wrap: break-word;
  text-align: left;

}

.bg {
  background: rgba(217, 125, 125, 0.2);
  width: 100%;
  height: 100%;
}

/*!* Programs section *!*/
.programs_container {
  margin-left: 8vw;
}

.programs_title {
  margin-top: 11vh;
  margin-bottom: 8.6vh;
  max-width: 54vw;

  @include respond(tab-land){
    margin-top: 7vh;
    margin-bottom: 6vh;

    font-size: 5vw;
    max-width: 78vw;
  }
}

.programs_carousel {
  margin-left: -3vw;
  margin-top: 8vh;
  position: relative;
  min-width: 0;

  @include respond(tab-land) {
    margin-top: 0;
  }
}

.programs_carousel_wrap {
  display: flex;
  align-items: center;
  margin-left: -8vw;

  width: 100vw;
  height: 78vh;
  overflow: hidden !important;

  @include respond(tab-land) {
    height: 55vh;
  }

  @include respond(tab-port) {
    height: 30vh;
  }

  @include respond(phone) {
    height: 33vh;
  }
}

.programs_carousel .slick-list {
  margin: 0 -4.7vw;
  overflow: visible !important;
}

.programs_carousel .slick-track {
  display: flex;
  margin: auto;
}

.programs_carousel .slick-slide {
  width: 100vw;
  transition: all 400ms linear;
}

.programs_carousel .slick-center {
  opacity: 1;
  transform: scale(1.3);
}

.programs_item {
  position: relative;

  width: 17vw;
  text-align: center;

  cursor: pointer;
}

.programs_image {
  width: 17vw;
  filter: brightness(0.45) contrast(1.2);

  @include respond(phone){
    width: 27vw;
  }
}

.programs_carousel_title {
  width: 14vw;
  font-weight: 300;
  font-size: 1.6vw;
  letter-spacing: 0.07em;
  line-height: var(--h5-line-height);

  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -60%);

  @include respond(tab-port) {
    line-height:initial;
  }

  @include respond(phone){
    font-size: 2.5vw;
    width: 50%;
  }
}

.programs_country {
  margin-top: 3vh;

  @include respond(tab-port){
    margin-top: 1.5vh;
  }
}

.programs_carousel .slick-arrow {
  display: none;
}

.programs_carousel .slick-slide {
  opacity: 0.8;
}

.programs_carousel .slick-current {
  opacity: 1 !important;
}

.programs_explanation {
  position: relative;
}

.programs_explanation:before {
  content: '';
  display: block;
  width: 42vw;
  height: 3px;
  background-color: #ffffff;

  position: absolute;
  top: -62px;
  left: -8vw;
}

.programs_content {
  max-width: 66vw;
  margin-left: 3vw;
}

.programs_subtitle {
  margin-bottom: 2vh;
  font-size: 2.3vw;
}

.programs_context {
  margin-bottom: 6.5vh;
}

.programs_info_title {
  margin-bottom: 5vh;

  font-weight: 400;
}

.programs_info_item {
  margin-left: 1.8vw;
  margin-bottom: 4vh;
  line-height: 3.4vh;
}

.programs_link {
  text-decoration: white;
  text-underline-mode: line;
}

/*!* Teachers section *!*/
.teachers_column {
  margin-top: 10vh;
  text-align: center;
  height: 66vh;

  @include respond(tab-land) {
    height: 60vh;
  }

  @include respond(tab-port) {
    height: 55vh;
  }
  @include respond(phone) {
    height: 41vh;
  }
}

.teachers_photo {
  width: 15vw;
  height: 15vw;

  object-fit: cover;

  border-radius: 50%;

  @include respond(tab-port) {
    width: 21vw;
    height: 21vw;
  }

  @include respond(phone) {
    width: 35vw;
    height: 35vw;
  }
}

.teachers_full_name {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3vh;

  font-weight: 400;
  letter-spacing: 0.06em;

  height: 10vh;

  @include respond(tab-land) {
    font-size: 1.7vw;
    line-height: initial;
    margin: 0;
  }

  @include respond(tab-port) {
    font-size: 2.3vw;
  }

  @include respond(phone) {
    font-size: 3.8vw;
  }
}

.teachers_position {
  margin-top: 0.8vh;

  color: var(--transparent-white);
  letter-spacing: 0.07em;

  font-size: var(--small-size);

  height: 3.14vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    margin: 0;
  }

  @include respond(tab-port) {
    margin-top: 1.6vh;
    font-size: 1.5vw;
  }

  @include respond(phone) {
    font-size: 3vw;
  }
}

.teachers_line {
  margin: 1.3vh auto 0;

  width: 90%;
  height: 1px;

  background-color: #ffffff;

  @include respond(tab-port) {
    width: 60%;
  }
}

.teachers_rank {
  margin-top: 2vh;

  font-size: var(--small-size);
  line-height: 24px;

  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    & > br {
      display: none;
    }
  }

  @include respond(tab-port) {
    font-size: 1.5vw;
  }

  @include respond(phone) {
    font-size: 2.6vw;
  }
}

.teachers_carousel .slick-arrow {
  display: none !important;
}

.teacher_carousel .slick-slide {
  opacity: 1 !important;
}

.teacher_carousel .slick-active button {
  display: none;
}

/*!* carousel *!*/
.carousel {
  width: 100vw;
}

.carousel .slick-list {
  overflow: hidden;
}

.carousel .slick-track {
  display: flex;
}

.slick-arrow {
  display: none !important;
}

.carousel > .slick-dots {
  display: none !important;
}


/*Loader*/
.course_card-loader {
  margin-top: 10rem;
}

.teachers-loader {
  margin-top: 10rem;
}

.programs-loader {
  margin-top: 15rem;
}