.page_container {
    padding: 0 10vw;
}

.video iframe {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 75vw;
    height: 75vh;
    margin: 25vh  0;
}

.ais-content-section {
    display: flex;
    column-gap: 10vw;

    margin-bottom: 35vh;
}

.ais-info {
    display: grid;

    row-gap: 5vh;
}

.info-desc {
    display: grid;
    column-gap: 5vh;

    font-size: 1.15vw;
}

.ais-link {
    text-decoration-line: underline;
    position: relative;
}

.ais-link:after{
    content: "";
    position: absolute;
    right: 7vw;

    --size: .8vw;

    width: var(--size);
    height: var(--size);


    border-right: 3px solid white;
    border-top: 3px solid white;

    transform: rotate(45deg) translateY(50%);
}

.ais-img {
    width: 30vw;
    height: 30vw;

    object-fit: cover;
}

/*Instuments*/

.ais-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 88px;
    line-height: 107px;
    letter-spacing: 0.08em;

    color: #FFFFFF;
    margin-top: 30vh;
    margin-bottom: 20vh;
}

.ais-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 8vw;
}

.ais-list-item {
    width: 33%;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 15vh;
}

.ais-photo {
    width: 26vw;
    height: 50vh;

    margin-bottom: 6.5vh;
}

.ais-item-link {
    font-style: normal;
    font-weight: 600;
    /*font-size: 30px;*/
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.06em;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.ais-item-desc {
    margin-top: 4vh;
    font-weight: 400;
    /*font-size: 30px;*/
    font-size: 24px;
    line-height: calc(37 / 30);
    letter-spacing: 0.06em;

    color: #FFFFFF;
}
