.page_container {
    padding: 0 10vw;
}

/*Youtube video*/
.video{
    position: relative;
    margin: 25vh  auto;

    width: 75vw;
    height: 75vh;
}

.video-loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-loader{
    width: 6rem;
}

.video iframe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;

    filter: grayscale(100%);
    border: 0;
}

/*Big project cards*/
.ais-content-section {
    display: flex;
    column-gap: 10vw;

    margin-bottom: 35vh;
}

.ais-info {
    display: grid;

    row-gap: 5vh;
}

.info-desc {
    display: grid;
    column-gap: 5vh;

    font-size: 1.15vw;
}

.ais-link {
    margin-top: 4vh;
    text-decoration-line: underline;
    position: relative;
}

.ais-link:after{
    content: "";
    position: absolute;
    right: 12vw;

    --size: .8vw;

    width: var(--size);
    height: var(--size);


    border-right: 3px solid white;
    border-top: 3px solid white;

    transform: rotate(45deg) translateY(50%);
}

.ais-img {
    width: 30vw;
    height: 30vw;

    object-fit: contain;
    object-position: top;
}

/*Instuments*/

.ais-subtitle {
    text-align: center;

    margin-top: 30vh;
    margin-bottom: 20vh;
}

.ais-list {
    list-style: none;

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(3%, 4%, 5%);
}

.ais-photo {
    aspect-ratio: 1/1;
    width: 99%;

    margin-bottom:  6.5vh;

    object-fit: cover;
    border: 4px white solid;
}

.ais-item-link {
    font-weight: 600;
    text-decoration-line: underline;
}

.ais-item-desc {
    margin-top: 4vh;
}

/*Footer*/

footer {
    margin-top: 30vh;
}
